
.background {
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 10%;
    right: 0%;
}

.left-side-bar {
    /* width: 35%; */
    width: fit-content;
    min-width: 35%;
    height: 100%;
    padding: 10px 0px 0px 10px;
}

.fileUploader {
    display: none;
}

.uploadBtn {
    position: absolute;
    right: 12px;
    top: 12px;
}

.colorpicker {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px #CCC;
}

.mydivider {
    margin: 1rem 0;
    line-height: 1;
    border-top: 1px solid #2185d0;
    border-bottom: 1px solid #2185d0;
}

.hint {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid transparent;
    border-radius: 12px;
}

#canvas {
    display: block;
    margin: 0 auto;
}